body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.login-container {
    width: 350px;
    padding: 16px;
    background-color: #fff;
    margin: 100px auto;
    box-shadow: 0px 0px 10px 0px;
}

h1 {
    text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #d3107b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
h1{
    color: rgb(62, 59, 217);
    font-size: 50px;
}